<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firstech</title>

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.19.0/dist/tabler-icons.min.css">

  <!-- Estilos -->
  <link rel="stylesheet" th:href="@{/css/firstech.css}">
</head>
<body>
<div class="app">

  <div th:replace="~{main/fragments/topbar :: topbar}"></div>

  <div th:replace="~{main/fragments/screens/home :: home}"></div>
  <div th:replace="~{main/fragments/screens/jobs :: jobs}"></div>
  <div th:replace="~{main/fragments/screens/search :: search}"></div>
  <div th:replace="~{main/fragments/screens/portfolio :: portfolio}"></div>

  <div th:replace="~{main/fragments/post-modal :: modal}"></div>

</div>

<!-- Script -->
<script th:src="@{/js/firstech.js}"></script>
</body>
</html>
